[submodule "odoo-mastercore/l10n_ar"]
	path = odoo-mastercore/l10n_ar
	url = git@github.com:odoo-mastercore/l10n_ar.git
	branch = 12.0

[submodule "odoo-mastercore/gt_bundle_product"]
	path = odoo-mastercore/gt_bundle_product
	url = git@github.com:odoo-mastercore/gt_bundle_product.git
	branch = 12.0

[submodule "JayVora-SerpentCS/SerpentCS_Contributions"]
	path = JayVora-SerpentCS/SerpentCS_Contributions
	url = git@github.com:JayVora-SerpentCS/SerpentCS_Contributions.git
	branch = 12.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 12.0

[submodule "ksolves-store/web_listview_sticky_header"]
	path = ksolves-store/web_listview_sticky_header
	url = git@github.com:ksolves-store/web_listview_sticky_header.git
	branch = 12.0

[submodule "Smile-SA/odoo_addons"]
	path = Smile-SA/odoo_addons
	url = git@github.com:Smile-SA/odoo_addons.git
	branch = 12.0

[submodule "odoo-mastercore/baliquors_addons"]
	path = odoo-mastercore/baliquors_addons
	url = git@github.com:odoo-mastercore/baliquors_addons.git
	branch = 12.0

[submodule "odoo-mastercore/bi_website_add_product"]
	path = odoo-mastercore/bi_website_add_product
	url = git@github.com:odoo-mastercore/bi_website_add_product.git
	branch = 12.0

[submodule "odoo-mastercore/website_sale_hide_price_qty/website_sale_hide_price_qty"]
	path = odoo-mastercore/website_sale_hide_price_qty/website_sale_hide_price_qty
	url = git@github.com:odoo-mastercore/website_sale_hide_price_qty.git
	branch = 12.0

[submodule "odoo-mastercore/website_backend_auto_operation"]
	path = odoo-mastercore/website_backend_auto_operation
	url = git@github.com:odoo-mastercore/website_backend_auto_operation.git
	branch = 12.0
